.introSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  gap: 2rem;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1742436599018-27a118d635ac?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.introContentCover {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(34, 30, 61, 0.6);
  z-index: 1;
}

.introContent {
  max-width: 60%;
  color: #ffffff;
  z-index: 2;
}

.introContent h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.introContent h1 span {
  color: white;
}

.introContent p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.exploreBtn {
  padding: 0.75rem 1.5rem;
  background-color: rgb(51, 3, 77);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.exploreBtn:hover {
  background-color: #7a0fd2;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  width: 30%;
}

.introImage1,
.introImage2,
.introImage3 {
  width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  animation: upAndDown 1.5s ease-in infinite;
}
.introImage2{
    margin-left: 50px;
}
@keyframes upAndDown {
    0%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px);
    }
}













.container {
  padding: 3rem 1rem;
   background: #d3a4ff;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  width: fit-content;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(51, 3, 77);
  margin: 0px auto;
  margin-bottom: 3rem;
  font-weight: 600;
 
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 2rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding:2rem 1rem;
  background: #c78cff;
   border-radius: 20px;
   transition: 0.3s ease;
}

.reverse {
  flex-direction: row-reverse;
}

.imgBox{
   width: 450px;
  height: 350px;
  position: relative;
   border-radius: 12px;
}
.imgOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  bottom: 0;
   border-radius: 12px;
}
.section:hover .imgBox{
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(5, 1, 9, 0.494);

}
.section:hover .imgOverlay{
  background: linear-gradient(180deg,transparent,rgba(107, 17, 203, 0.281));
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.textBlock {
 position: relative;
  text-align: left;
  width: 65%;
  height: fit-content;
}
.textBlockOverlay{
    width: 80%;
    height: 300px;
    top: 0px;
    left: 0px;
    background: rgba(30, 4, 43, 0.574);
    border-radius: 20px;
    animation: leftAndRight 1.2s ease-in infinite;
}


@keyframes leftAndRight {
    0%{
        transform: translateX(-15px);
    }
    50%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(-15px);
    }
}
.textInfo{
    position: absolute;
    z-index:10;
    top: 30px;
    left: 50px;
}

.iconTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.textBlock p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: rgb(242, 242, 243);
  font-weight: 600;
}
.iconTitle .icon{
    color: white;
}
.iconTitle h3{
    color: white;
    border-bottom: 2px solid white;
    font-size: 30px;
    margin: 0px 5px;
}







@media (max-width:1024px){
.image {
  width: 350px;
  height: 250px;
}
.textInfo{
    top: 20px;
    left: 30px;
}
.iconTitle h3{
    font-size: 20px;
    margin: 0px 5px;
}
}