.container {
  padding: 3rem 2rem;
  background: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.heading {
  font-size: 2rem;
  color: #3c175e;
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-bottom: 2px solid #3c175e;
  margin: 0px auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem auto;
  width:90%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
   color: #34495e;
}

.reverse {
  flex-direction: row-reverse;
}

.image {
 width: 40%;
 height: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  width: 50%;
}

.footerNote {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #2980b9;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heartIcon {
  color: #e74c3c;
  font-size: 1.5rem;
}


@media (max-width:956px){
  .text {
  font-size: 0.9rem;
  width: 60%;
}
}

@media (max-width:768px){
  .content {
 flex-direction: column;
}
.image {
 width: 80%;
 height: 350px;
}
  .text {
  width: 90%;
}
}